##
# This file is part of Gush.
#
# (c) Luis Cordova <cordoval@gmail.com>
#
# This source file is subject to the MIT license that is bundled
# with this source code in the file LICENSE.
#

/bin/*
!/bin/gush
/composer.lock
/vendor
/gush.phar
/box.json
/.first-time-run
/phpunit.xml
/build
/web
/node_modules
