{
    "alias": "gh.phar",
    "chmod": "0755",
    "directories": ["src", "bin"],
    "files": [
        "LICENSE"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["tests"],
            "in": "vendor"
        },
        {
            "name": "*.pem",
            "in": "vendor/guzzle/guzzle/src/Guzzle/Http/Resources"
        },
        {
            "name": "*.pem.*",
            "in": "vendor/guzzle/guzzle/src/Guzzle/Http/Resources"
        }
    ],
    "git-version": "package_version",
    "main": "bin/manager",
    "output": "gh.phar",
    "stub": true
}
