#!/usr/bin/env bash

docker run -it \
    -v ~/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub \
    -v ~/.ssh/id_rsa:/root/.ssh/id_rsa \
    -v ~/.ssh/known_hosts:/root/.ssh/known_hosts \
    -e GUSH_CONFIG=`cat ~/.gush/.gush.yml | base64` \
    -e GUSH_LOCAL_CONFIG=`cat $(pwd)/.gush.yml | base64` \
    -v "$(pwd)":/root/project \
    coder20078/gush "$@"
