<?xml version="1.0" encoding="UTF-8"?>

<!--
    This file is part of Gush.

    (c) Luis Cordova <cordoval@gmail.com>

    This source file is subject to the MIT license that is bundled
    with this source code in the file LICENSE.
-->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="date.timezone" value="America/Lima"/>

        <!--
            Uncomment the "GUSH_USE_FS" env-option to use the real filesystem.
            This will use the system temp-directory for storing the configuration
            and the creating the cache directory.

            This should only be done when you need to read the raw configuration
            content or when you are using a virtual environment for testing.

            The tests will generate a large amount of IO and will not remove the
            directories afterwards.
        -->
        <!--<env name="GUSH_USE_FS" value="true"/>-->
    </php>

    <testsuites>
        <testsuite name="Gush Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>functional</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
