<?xml version="1.0" encoding="UTF-8"?>

<!--
    This file is part of Gush.

    (c) Luis Cordova <cordoval@gmail.com>

    This source file is subject to the MIT license that is bundled
    with this source code in the file LICENSE.
-->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="date.timezone" value="America/Lima"/>
        <env name="GIT_VENDOR_NAME" value="gushphp"/>

        <!-- WARNING These locations are only used for testing, don't use your actual Gush installation! -->
        <!--
        <env name="GUSH_HOME" value="/PATH/TO/GUSH/HOME"/>
        <env name="GUSH_LOCAL" value="/PATH/TO/GUSH/LOCAL"/>
        <env name="GUSH_CACHE_DIR" value="/PATH/TO/GUSH/CACHE"/>
        -->
    </php>

    <testsuites>
        <testsuite name="Gush Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>functional</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
