<?xml version="1.0" encoding="UTF-8"?>

<!--
    This file is part of Gush.

    (c) Luis Cordova <cordoval@gmail.com>

    This source file is subject to the MIT license that is bundled
    with this source code in the file LICENSE.
-->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./vendor/autoload.php"
    >

    <php>
        <env name="GIT_VENDOR_NAME" value="gushphp"/>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <!--
        <env name="GUSH_HOME" value="/PATH/TO/GUSH/HOME"/>
        <env name="GUSH_CACHE_DIR" value="/PATH/TO/GUSH/CACHE"/>
        <env name="VERSIONEYE_TOKEN" value="TOKEN"/>
        -->
    </php>

    <testsuites>
        <testsuite name="Gush Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Gush</directory>
        </whitelist>
    </filter>
</phpunit>
